In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# to set the executable path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visit the Mars NASA news site/instruct the browser to visit it.
url = 'https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html'
browser.visit(url)

html = browser.html
html_soup = soup(html, 'html.parser')

In [24]:
# to find the table/class which you are scraping the "data"!! 
table = html_soup.find('tr', class_='data-row')

In [47]:
mars_temp = {}
rows = table.find_all('td')
print(rows)



#for row in rows:
 #   row_data = row.find('td')
  #  print(row_data)
    
    
    
 #   row_heading = row.find('th')

#rows = table.find_all('td')
#print(rows)
#for row in rows:
 #   row_heading = row.find('th')
  #  row_data = row.find('td')
    
    
    #mars_temp[row_heading] = row_data
    #print(mars_temp)

[<td>2</td>, <td>2012-08-16</td>, <td>10</td>, <td>155</td>, <td>6</td>, <td>-75.0</td>, <td>739.0</td>]

In [ ]:
browser.quit()